

.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  
  .button1{
    padding: 7px 10px;
    background-color: #415db8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button2{
    padding: 7px 10px;
    background-color: #e03838;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contenedor1{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    display: inline-block;
    vertical-align: top;
    margin-bottom:30px;
  }
  
  .contenedor1 a{
    position: absolute;
    text-align: center;
    margin-left: 15%;
  }
  
  .contenedor2{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin-bottom:30px;
  }
  
  .contenedor3{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin-bottom:30px;
  }
  
  .contenedor4{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin-bottom:30px;
  }
  
  
  /*css de tabla*/
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 70%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 900px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
    body {
      font-family: "Open Sans", sans-serif;
      line-height: 1.25;
      min-width :100%;
      margin-left:auto;
      margin-right:auto;
      margin-top:auto;
      left:0; right:0; top:0;
    } 
    .contenedor2{
      background: rgb(255, 255, 255);
      width: 100%;
      height: 10%;
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      margin-bottom:30px;
    }
    
    .contenedor3{
      background: rgb(255, 255, 255);
      width: 100%;
      height: 50%;
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      margin-bottom:30px;
    }
    
    .contenedor4{
      background: rgb(255, 255, 255);
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
      margin-bottom:50%;
    }
  
  }
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  
  